* {
    margin: .4em;
}

body {
    text-align: center;
    max-width: 768px;
    margin: auto;
}

ul {
    text-align: left;
}

nav {
    max-width: 480px;
    margin: auto;
}

label {
    display: block;
    max-width: 480px;
    margin: auto;
}

select {
    display: block;
    position: absolute;
    z-index: 10001;
    max-width: 768px;
}

input {
    margin: .4em;
}